<div class="container" class="clearfix" id="bckgrd2">
  <div id="choice">
    <% if @new_user %>
      <h3 class="moon">Welcome to The Show!</h3>
      <% else %>
      <h3 class="moon">Welcome back!  </br>Choose a new quiz.</h3>
      <% end %>
      </br>
      <h4 class="moon">You have the choice of </h4>
      <%= form_tag quizzes_path do %>
      <%@quizzes.each do |quiz| %>
        <%= radio_button_tag(:quiz_preference, quiz.name) %>
        <%= label_tag(:quiz_preference, quiz.name, class: "radiopref") %>
        </br>
      <% end %>
    </div>
  <div id="choice2">
     <h4 class="moon">You can also choose the difficulty level </h4>
     <%= radio_button_tag(:level_preference, "easy") %>
     <%= label_tag(:level_preference, "easy", class: "radiopref") %>
     </br>
     <%= radio_button_tag(:level_preference, "medium") %>
     <%= label_tag(:level_preference, "medium", class: "radiopref") %>
     </br>
     <%= radio_button_tag(:level_preference, "hard") %>
     <%= label_tag(:level_preference, "hard", class: "radiopref") %>
     </br>
     </br>
     <%= submit_tag "submit" %>
  <% end %>

  </div>
</div>