<% if @message %>
  <%= @message %>
<% end %>
<%= form_tag takequiz_path do %>
  <h2><%= @question.query %></h2>

  <p>
    <%= radio_button_tag(:answer, "a") %>
    <%= label_tag(:answer, @question.a) %>
  </p>

  <p>
    <%= radio_button_tag(:answer, "b") %>
    <%= label_tag(:answer, @question.b) %>
  </p>

  <p>
    <%= radio_button_tag(:answer, "c") %>
    <%= label_tag(:answer, @question.c) %>
  </p>

  <p>
    <%= radio_button_tag(:answer, "d") %>
    <%= label_tag(:answer, @question.d) %>
  </p>

  <%= hidden_field_tag :question_id, @question.id %>

  <%= submit_tag "submit" %>
<% end %>