    <div class="twelve columns">
      <div class="four columns">
      </div>
        <div class="eight columns">
<% if @message %>
  <%= @message.html_safe %>
<% end %>

<% if @question %>
  <%= form_tag takequiz_path do %>
    <h3><%= @question.query %></h3>

    <p>
      <%= radio_button_tag(:answer, "a") %>
      <%= label_tag(:answer, @question.a, class: "radiopref") %>
    </p>

    <p>
      <%= radio_button_tag(:answer, "b") %>
      <%= label_tag(:answer, @question.b, class: "radiopref") %>
    </p>

    <p>
      <%= radio_button_tag(:answer, "c") %>
      <%= label_tag(:answer, @question.c, class: "radiopref") %>
    </p>

    <p>
      <%= radio_button_tag(:answer, "d") %>
      <%= label_tag(:answer, @question.d, class: "radiopref") %>
    </p>

    <%= hidden_field_tag :question_id, @question.id %>
    <%= hidden_field_tag :correct_answer, @question.correct_answer %>
    <%= hidden_field_tag :correct, @correct %>

    <%= submit_tag "submit" %>

  <% end %>
<% end %>
